.reveal section img.bacon {
  position: absolute;
  display: block;
  width: 400px;
  height: 200px;
  top: 30%;
  left: 30%;
  z-index: 100;
  border: 0;
  background: none;
  box-shadow: none;
}
.notes {
  display: none;
}

#register {
  font-size: 20px;
}
#register button {
  border-radius: 10px;
}
#register label {
  margin-right: 10px;
}
.reaktor {
  background: url("../images/Reaktor_Logo_Black.png");
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: 0 center;
  display: inline-block;
  width: 150px;
  color: rgba(0,0,0,0);
}

.spreadsheet input {
  font-size: 20px;
  width: 50px;
}

endresult {
  display: none;
}

section.side-by-side > div {
  margin-right: 1em;
  float: left;
  width: 45%;
}

section.side-by-side > div:last-child {
  float: right;
  border-left: 1px solid #222222;
}

html .reveal section img {
  border: 0;
  max-height: 15em;
  box-shadow: none;
  background: none;
}

.reveal section li {
  list-style: none;
  margin: 0.25em 0;
}

.reveal div.inbox {
position: fixed;
top: -4em;
right: 0;
background: teal;
padding: 0.6em;
color: white;
opacity: 0;
transition: all 1s;
z-index:1000;
border-radius: 0.1em;
box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.75);
}
.reveal div.inbox.visible {
opacity: 1;
}
.reveal div.inbox *{
color: white;
text-align: left;
margin: 0;
}
.reveal div.inbox h4 {
margin-bottom: 0.3em;
text-decoration: underline;
}
.reveal div.inbox li {
margin: 0;
font-size: 0.5em;
line-height: 1.5em;
}
